<h2>Guesses</h2>
<hr>
<br>
<h3> Total points: <%= current_user.total_points %> </h3>
 <% @guesses.each do |guess| %>
      <h5>Episode air date: <%= guess.episode.air_date.to_date %></h5>
      <p>For: <%= guess.cast_member.full_name %></p>
      <p>Your Guess: <%= guess.winner_guess %></p>
       <p>Points for guess: <%= guess.points %></p>
       <br>
  <% end %>
  
</div>