<h2>Guesses</h2>
<hr>
<br>
<h3> Total points: <%= current_user.total_points %> </h3>
 <% @guesses.each do |guess| %>
      <p><%= guess.episode.air_date.to_date %></p>
      <p><%= guess.cast_member.full_name %></p>
      <p><%= guess.winner_guess %></p>
       <p>Points for guess: <%= guess.points %></p>
  <% end %>
  
</div>