<h2>Guesses</h2>
<hr>
<br>
  <% @guess.each do |guess| %>
     <h3><%='Episode' %></h3>
      <h4><%='Air Date'%></h4>
      <p><%= episode.air_date %></p>
      <h4><%='Description'%></h4>
      <p><%= episode.description %></p>
      <h4><%= 'Cast Members' %></h4>
      <% episode.cast_members.each do |cast_member|%>
        <p><%=cast_member.first_name%></p>
        <p><%=cast_member_status%></p>
      <% end %>
  <% end %>
</div>